.l-box {
	padding: 1em;
}
#main {
	background-color: black;
	background-image: url('../img/dismissed-background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
}